/* Основні стилі */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282828;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question-input {
  background-color: #f1c4e1;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-right: 15px;
}

.ball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(/images/ball-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #4b0082;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #6a0dad;
}

@media (max-width: 768px) {
  .ball {
    width: 200px;
    height: 200px;
    font-size: 1.2em;
  }

  .question {
    font-size: 1em;
  }

  .button {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .ball {
    width: 150px;
    height: 150px;
    font-size: 1em;
  }

  .question {
    font-size: 0.9em;
    padding: 8px 15px;
  }

  .button {
    font-size: 0.8em;
  }
}
